<div class="jumbotron">
    
    
    <img src="https://expresscarrentals.files.wordpress.com/2014/12/express-car-rentals-in-new-zealand.jpg"></img>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compare car hire in New Zealand</h2>
        <p>
            Your travel plans may be affected by COVID-19. View our latest updates here.

            Find quality vehicles at affordable rates with VroomVroomVroom. We make comparing car hire quick and easy, getting you great rates from New Zealand’s leading rental suppliers, including Alamo, Avis, ​Budget, East Coast Car Rentals, Enterprise, ​Europcar, GO Rentals, Hertz, Sixt, and Thrifty.

        </p>

    </div>
    <div class="col-md-4">
        <h2>THE OPEN ROAD AWAITS</h2>
        <p>Collect an Avis rental from one of 39 convenient car hire locations from Kerikeri to Invercargill, including all of New Zealand’s major airports..</p>
 
    </div>
    <div class="col-md-4">
        <h2>Outstanding on-road support</h2>
        <p>From fuel discounts to 24/7 roadside assistance, we’ve got your back — so you can make the most of your time..</p>
     
    </div>
</div>
